A:hover {
	COLOR: #ff0000
}
INPUT {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 0.67pc
}
.tlink {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc
}
.tjoin {
	COLOR: #ffffcc; FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 0.67pc
}
.tdrop {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 0.67pc
}
.tsep {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 0.67pc
}
.search {
	COLOR: #ffffff; FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.lhead {
	COLOR: #990000; FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.lhead2 {
	COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.ldeck {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc
}
.lsubhead {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc; FONT-WEIGHT: bold
}
.ldeckb {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc; FONT-WEIGHT: bold
}
.llink {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc
}
.mdir {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.mdir-home {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.mdir2 {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 2.5mm
}
.mhead {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
.msubhead {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.msubhead2 {
	COLOR: #990000; FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
.mdeck {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 10pt
}
.mdeckb {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.mbarhead {
	COLOR: #ffffff; FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.devhead {
	COLOR: #003399; FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.devtoc {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.mlink {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 10pt
}
.rhead {
	COLOR: #990000; FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.rhead2 {
	COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.rsubhead {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc; FONT-WEIGHT: bold
}
.rdeck {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc
}
.rdeckb {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc; FONT-WEIGHT: bold
}
.rbarhead {
	COLOR: #ffffff; FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.rbarheadb2 {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.rlink {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc
}
.slhead {
	COLOR: #990000; FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.slhead2 {
	COLOR: #000000; FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.sldeck {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc
}
.sllink {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc
}
.slactive {
	COLOR: #999999; FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc; TEXT-DECORATION: underline
}
.smhead {
	COLOR: #333399; FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 15pt; FONT-WEIGHT: bold
}
.smdeck {
	COLOR: #3366cc; FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.smbyline {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 9pt
}
.dhead {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.ddeck {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc
}
.bnav {
	COLOR: #333399; FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 0.67pc
}
.bnav2 {
	COLOR: #ffffcc; FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc; FONT-WEIGHT: bold
}
.bnavsep {
	COLOR: #ffffcc; FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc
}
.body {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 10pt
}
.bread {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc
}
.breadb {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc; FONT-WEIGHT: bold
}
.date {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc
}
.jump {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 10pt
}
.efree {
	COLOR: #cc0000; FONT-FAMILY: Arial Black, Geneva, Lucida; FONT-SIZE: 5.1mm; LINE-HEIGHT: 110%
}
.ejoin {
	FONT-FAMILY: Arial Black, Geneva, Lucida; FONT-SIZE: 0.95pc
}
.elineheight {
	LINE-HEIGHT: 110%
}
.ehead {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 12pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.edeck {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc
}
.esignup {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.sphead {
	COLOR: #333399; FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.spdeck {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 0.67pc
}
.spurl {
	COLOR: #333399; FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc
}
.a10 {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 2.5mm
}
.a11 {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 0.67pc
}
.a12 {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 9pt
}
.a13 {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 10pt
}
.a14 {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 0.95pc
}
.a15 {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 12pt
}
.v10 {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc
}
.v11 {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc
}
.v12 {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 9pt
}
.auctions {
	COLOR: #003399; FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.spacer4 {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 4px
}
.spacer6 {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 6px
}
.spacer8 {
	FONT-FAMILY: Arial, Geneva, Lucida; FONT-SIZE: 8px
}
.hnav {
	FONT-FAMILY: Verdana, Geneva, Lucida, Arial; FONT-SIZE: 0.67pc
}
